h1{color:gray;}
body {
    background: black;
}
.container{
    position:relative;
    background:white;
    width: fit-content;
    padding: 10px 60px 40px 60px;
    border-radius: 24px;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}
.sub-container {
    position:relative;
    margin:0 auto;
}

label{ 
    margin-right: 10px;
}

td {
    padding: 5px 0px;
    font-size: 16px;
}

#interest-rate {
    vertical-align: top;
    width: 34px;
    text-align: left;
}

.input-box {
    min-width: 185px;
}

#years {
    padding: 2px 6px;
}

.message {
    margin-top: 10px;
    margin-left: 25px;
    display: none;
    margin-bottom: 25px;
}

.footer {
    position: absolute;
    left: 23px;
    bottom: 14px;
}

.highlight {
    background-color: yellow;
    line-height: 1.3;
}